/* Footer.css - Footer component styles */

.footer .grid {    
    display: grid;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    grid-template-columns: repeat(auto-fit, 15rem);
    padding: 3rem;
    bottom: 0;
    position: relative;
}

.footer .grid .box h3{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--black);
}

.footer-box {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-box h3 {
    font-size: 2rem;
}

.box p {
    font-size: 1.5rem;
}

.footer-box a {
    text-decoration: none;
    color: var(--black);
    line-height: 2;
    font-size: 1.5rem;
}

.footer-box a:hover {
    text-decoration: underline;
}

.footer .credit{
    text-align: center;
    padding: 3rem 2rem;
    border-top: var(--border);
    background-color: var(--white);
    font-size: 2rem;
    color: var(--main-color);
    line-height: 1.5;
}

/* Social media styles */
.social-media {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
}
