/* Header.css - Header component styles */
.header {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    z-index: 1000;
}

.header .flex {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .flex .logo {
    font-size: 2.5rem;
    color: var(--main-color);
}

.header .flex .logo i {
    margin-right: .5rem;
}

.header .flex .navbar a {
    display: inline-block;
    padding: 1rem 1.5rem;
    font-size: 1.6rem;
    color: var(--main-color);
    border-radius: .5rem;
}

.header .flex .navbar a:hover {
    background-color: var(--black);
    color: var(--white);
}

#menu-btn {
    font-size: 2.7rem;
    color: var(--black);
    cursor: pointer;
    display: none;
}

/* Button styles used by Post Job button */
.btn {
    display: inline-block;

    padding: 1rem 3rem;
    cursor: pointer;
    font-size: 1.8rem;
    color: white;
    background-color: var(--black);
    border-radius: .5rem;
    text-align: center;
}

.btn:hover {
    background-color: var(--main-color);
}