/* About.css - About page styles */

/* About section styles */
.about img{
    width: 100%;
    margin-bottom: 1.5rem;
}

.about .box {
    background-color: var(--white);
    border-radius: .5rem;
    border: var(--border);
    padding: 1.5rem;
    box-shadow: var(--box-shadow);
}

.about .box h3 {
    font-size: 2rem;
    color: var(--black);
    margin-bottom: 1rem;
}

.about .box p{
    padding: 1rem 0;
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.4rem;
}

.about .btn {
    color: var(--white);
}

.about .btn:hover{
    text-decoration: none;
}

/* Reviews section styles */
.reviews .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
}

.reviews .box-container .box{
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: .5rem;
    padding: 2rem;
}

.reviews .box-container .box .stars{
    margin-bottom: 1.5rem;
}

.reviews .box-container .box .stars i{
    color: var(--main-color);
    font-size: 1.8rem;
}

.reviews .box-container .box .title {
    font-size: 2rem;
    color: var(--black);
    text-align: right;
}

.reviews .box-container .box p{
    font-size: 1.6rem;
    color: var(--light-color);
    padding: 1rem 0;
    line-height: 1.8;
}

.reviews .box-container .box .user{
    display: flex;
    margin-top: 1.5rem;
    gap: 1.5rem;
}

.reviews .box-container .box .user img{
    height: 8rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.reviews .box-container .box .user h3{
    font-size: 2rem;
    color: var(--black);
    margin-top: 1.2rem;
}

.reviews .box-container .box .user span{
    color: var(--light-color);
    font-size: 1.3rem;
    margin-top: 1.2rem;
}

/* Shared styles */
.section-title-about {
    border-top: 1rem solid var(--main-color);
    border-bottom: 1rem solid var(--main-color);
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    padding: 4rem 6rem;
    font-size: 4rem;
}

section {
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    cursor: pointer;
    font-size: 1.8rem;
    color: white;
    background-color: var(--black);
    border-radius: .5rem;
    text-align: center;
}

.btn:hover {
    background-color: var(--main-color);
}