/* Contact.css - Contact page styles */

/* Contact section styles */
.contact .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
}

.contact .box-container .box{
    background-color: var(--white);
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding: 1.5rem 2rem;
    text-align: center;
}

.contact .box-container .box i{
    height: 4.5rem;
    width: 5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    color: var(--white);
    background-color: var(--black);
    border-radius: .5rem;
    margin-bottom: 2rem;
}

.contact .box-container .box a{
    display: block;
    padding-top: .5rem;
    font-size: 1.5rem;
    color: var(--light-color);
    line-height: 1.5;
    text-decoration: none;
}

/* Contact form styles */
.contact form{
    margin-top: 2rem;
    background-color: var(--white);
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    text-align: center;
}

.contact form h3{
    font-size: 2rem;
    color: var(--black);
    margin-bottom: 1rem;
}

.contact form .flex{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
}

.contact form .flex .box{
    flex: 1 1 40rem;
}

.contact form .input{
    width: 100%;
    border-radius: .5rem;
    padding: 1.4rem;
    color: var(--black);
    font-size: 1.5rem;
    background-color: var(--light-bg);
    margin: 1rem 0;
}

.contact form .gender{
    display: flex;
    width: 100%;
}

.contact form .gender #male{
    display: inline;
    margin-left: 5rem;    
    width: 50%;
    border-radius: .5rem;
    padding: 1.4rem;
    color: var(--black);
    font-size: 1.5rem;
    background-color: var(--light-bg);
    margin: 1rem 0;
}

.contact form .gender #female{
    display:inline;
    width: 50%;
    border-radius: .5rem;
    padding: 1.4rem;
    color: var(--black);
    font-size: 1.5rem;
    background-color: var(--light-bg);
    margin: 1rem 0;
}

.contact form p{
    text-align: left;
    font-size: 1.6rem;
    padding-top: 1rem;
    color: var(--light-color);
}

.contact form p span{
    color: var(--red);
}

.contact form textarea{
    height: 15rem;
    resize: none;
}

/* Shared styles */
.section-title-contact {
    border-top: 1rem solid var(--main-color);
    border-bottom: 1rem solid var(--main-color);
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    padding: 4rem 6rem;
    font-size: 4rem;
}

section {
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    cursor: pointer;
    font-size: 1.8rem;
    color: white;
    background-color: var(--black);
    border-radius: .5rem;
    text-align: center;
}

.btn:hover {
    background-color: var(--main-color);
}