/* Dashboard.css - Dashboard page styles */

/* Dashboard container styles */
.dashboard-container {
    background-color: var(--white);
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    text-align: left;
}

.dashboard-container .user-info{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.dashboard-container .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
}

.dashboard-container .grid-container h2{
    font-size: 1.8rem;
}

.dashboard-container .grid-container .activities {
    font-size: 1.3rem;
}

.dashboard-container .grid-container .notifications{
    font-size: 1.3rem;
}

.dashboard-container .grid-container .statistics{
    font-size: 1.3rem;
}

.dashboard-container .grid-container .messages{
    font-size: 1.3rem;
}

.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: var(--box-shadow);
}

.activities p,
.links a,
.notifications p,
.statistics p,
.messages p {
    margin: 0.5rem 0;
}

/* Shared styles */
.heading {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
    color: var(--black);
    padding: 1rem 0;
}

section {
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    cursor: pointer;
    font-size: 1.8rem;
    color: white;
    background-color: var(--black);
    border-radius: .5rem;
    text-align: center;
}

.btn:hover {
    background-color: var(--main-color);
}