/* App.css - Main application styles */

:root {
  --main-color: #3BACB6;
  --red: #82DBD8;
  --light-color: #6b7280;
  --light-bg: #B3E8E5;
  --black: #2F8F9D;
  --white: #fff;
  --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  --border: .1rem solid rgba(0,0,0,.2);
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: var(--light-bg);
  color: var(--black);
}

main {
  min-height: calc(100vh - 200px);
}

a { 
  color: inherit; 
}