@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: var(--light-bg);
  color: var(--black);
}

main {
  min-height: calc(100vh - 200px);
}

a { color: inherit; }
